<div class='image-form'>
  <span id='closeImageForm'>Close</span>
  <div id='image-full' class='image-full'>
  </div>
  <div class='image-meta'>
    <table>
      <tr>
        <td class='form-label'>Caption 1</td>
        <td><input id='caption1' type='text' name='caption_1'></td>
      </tr>
      <tr>
        <td class='form-label'>Caption 1 URL</td>
        <td><input id='caption1Url' type='text' name='caption_1_url'></td>
      </tr>
      <tr>
        <td class='form-label'>Caption 2</td>
        <td><input id='caption2' type='text' name='caption_2'></td>
      </tr>
      <tr>
        <td class='form-label'>Caption 2 URL</td>
        <td><input id='caption2Url' type='text' name='caption_2_url'></td>
      </tr>
      <tr>
        <td colspan=2>
          <span class='form-action' id='updateImageLink'>Update</span>
        </td>
      </tr>
    </table>
  </div>
</div>
