<div class='upload-container'>
  <input id="fileupload" type="file" name="files[]" style='display:none'>
  <div id='resultMsg' class='resultMsg'></div>
  <div id="dropzone" class="fade well">
    Drop files here
  <div id='uploaded' class='uploaded-container' >
    <table>
      <thead>
        <th></th>
        <th>File Name</th>
        <th>Caption 1</th>
        <th>Caption 1 URL</th>
        <th>Caption 2</th>
        <th>Caption 2 URL</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button id='upload-btn' class='upload-btn'>Save All</button>
  </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('#fileupload').fileupload({
    url: '/admin/photos/upload_tmp',
    dropZone: $('#dropzone'),
    done: function(e, data) {
      var rowCount = $('#uploaded table').find('tr').size();
      var row = $('<tr>')
      .attr('id', 'row_' + rowCount)
      .append($('<td>').html('<a href="javascript:removeImageFromTmp(\'row_' + rowCount + '\')"><img src="/images/admin/close-button.png"/></a>'))
      .append($('<td>').html(data.result))
      .append($('<td>').html('<input class="input" name="caption1" type="text">'))
      .append($('<td>').html('<input name="caption1_url" type="text">'))
      .append($('<td>').html('<input name="caption2" type="text">'))
      .append($('<td>').html('<input name="caption2_url" type="text">'));
       
      $('#uploaded tbody').append(row);
      $('#uploaded').fadeIn(500)
    }
  });

  $('#upload-btn').click( function() {uploadTmpImages()});

  $(document).bind('dragover', function (e) {
    var dropZone = $('#dropzone'),
        timeout = window.dropZoneTimeout;
    if (!timeout) {
        dropZone.addClass('in');
    } else {
        clearTimeout(timeout);
    }
    if (e.target === dropZone[0]) {
        dropZone.addClass('hover');
    } else {
        dropZone.removeClass('hover');
    }
    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
    }, 100);
  });
});


function removeImageFromTmp(rowId) {
  var filename = $($('#'+rowId + ' td')[1]).html();
  $.ajax({
    url: '/admin/photos/remove_tmp',
    type: 'POST',
    data: {'filename': filename},
    success: function(data) {
      $('#' + rowId).remove();
      if ($('#uploaded table tbody tr').size() == 0) {
        $('#uploaded').hide();
      }
    }
  });
}

function uploadTmpImages() {
  var data = []
  $('#uploaded table tbody tr').each(function() {
    var entry = {}
    entry['file'] = $($(this).find('td')[1]).html();
    entry['caption1'] = $($(this).find('input[name=caption1]')[0]).val();
    entry['caption1_url'] = $($(this).find('input[name=caption1_url]')[0]).val();
    entry['caption2'] = $($(this).find('input[name=caption2]')[0]).val();
    entry['caption2_url'] = $($(this).find('input[name=caption2_url]')[0]).val();
    data.push(entry);
  });

  $.ajax({
    url: '/admin/photos/save_images',
    type: 'POST',
    data: {'data': JSON.stringify(data)},
    end: function(xhr) {
      $('#resultMsg')
         .hide()
         .html("");
    },
    success: function(res) {
      if (parseInt(res.errors.count) > 0) {
        $('#resultMsg')
           .addClass('alert')
           .addClass('alert-error')
           .html('There was a problem while saving your images. Contact Elton and tell him his shit is BROKEN!')
           .show();
      } else {
        $('#uploaded tbody').html('');
        $('#uploaded').hide();
        $('#resultMsg')
         .addClass('alert')
         .addClass('alert-success')
         .html('Save Complete')
         .show();
      }
    },
    error: function(data) {
      $('#resultMsg')
         .addClass('alert')
         .addClass('alert-error')
         .html('There was a problem while saving your images. Contact Elton and tell him his shit is BROKEN!')
         .show();
    }
  });
}
</script>
