<div class='admin-photos-nav'>
  <ul id='photos_menu' class='nav nav-tabs'>
    <li id='photos_gallery' class='active' ><a href='gallery'>Gallery</a></li>
    <li id='photos_upload'><a href='upload'>Upload</a></li>
  </ul>
</div>
<div class='alert-info well info'>
DIRECTIONS: 
  <ul>
    <li>Images must be in the size: 435px width by 405px height, to ensure the photo gallery on the site to display properly</li>
    <li>The photo list on the left represents what is on the site in order.  The photo list on the right represents photos not on the site. </li>
    <li>To add photos to the site, drag and drop images from the right to the left.  You can also reorder the images by drag and drop.</li>
    <li>To add/edit any captions to appear on the bottom left hand side of each image, double click on an image. Caption 2 will appear on top of caption 1.</li>
    <li>Changes won't be permanent until you hit the red 'Save' button on the bottom right hand side of the screen</li>
  </ul>
</div>
<%= render :partial => @partial %>
