<div class='alert-info well info'>
DIRECTIONS: 
  <ul>
    <li>To add a new review click on the new link below these directions.</li>
    <li>To remove a review, click on the remove link below, and then click on the <img src='/images/admin/close-button.png'>. Click on the remove link below a second time to hide the buttons.</li>
    <li>To edit any review, double click the review itself.</li>
  </ul>
</div>
<%= render :partial => @partial %>
