.main-content .contact-container {

}

.main-content .contact-container .contact-image {
  float: left;
  background-image: url('/images/contact/contactmainphoto.jpg');
  background-repeat: no-repeat;
  width: 435px;
  height: 405px;
  margin: 23px 0px 0px 23px;
}

.main-content .contact-response {
  height: 20px;
  line-height: 18px;
  margin: 10px 0px 20px 0px;
  text-align:justify;
  font-style: italic;
}

.main-content .contact-container .contact-form {
  float: left;
  padding: 0px 0px 0px 30px;
}

.main-content .contact-container .contact-form .form-labels {
  padding: 5px 0px 0px 0px;
}

.main-content .contact-container .contact-form .event-date {
  width: 279px;
  border-right: #f390b0 solid 1px;
  border-bottom: #f390b0 solid 2px; 
  border-top: 0px;
  border-left: 0px;
  margin:0px 5px 0px 0px
  
}

.main-content .contact-container .contact-form td {
  text-align:right;
  vertical-align:top;
}

.main-content .contact-container .contact-form td button {
  	border: 0px;
   background-color: #f390b0;
   color: white;
}


.main-content .contact-container .contact-form .contact-form-input {
  width: 300px;
  border-right: #f390b0 solid 1px;
  border-bottom: #f390b0 solid 2px; 
  border-top: 0px;
  border-left: 0px;
}

.main-content .contact-container .contact-info ul {
  margin:40px 0px 20px 90px;
  line-height: 16px;
}

.main-content .contact-container .contact-info li span {
  margin: 0px 0px 0px 5px;
}

.main-content .contact-container .contact-info li img {
  vertical-align:middle;
}

/* CSS for the date picker.  Modifying to make it more inline with the site */
.ui-date-picker .ui-widget-header {
  color: #4B3905;
}
