<div class='admin-contacts-nav'>
  <ul id='contacts_menu' class='nav nav-tabs'>
    <li id='contacts_chart'><a href='chart'>Chart</a></li>
    <li id='contacts_search' class='active' ><a href='search'>Search</a></li>
    <li id='contacts_away'><a href='away'>Away Message</a></li>
  </ul>
</div>
<%= render :partial => @partial %>
