<div class='press-container'>
  <table>
    <tr>
      <td><a href="http://www.weddingwire.com/reviews/sissi-chan-new-york/c50063ce785a6334.html"><img src="images/press/wedding_wire_2011.jpg" /></a></td>
      <td><a href="http://www.weddingwire.com/reviews/sissi-chan-new-york/c50063ce785a6334.html"><img src="images/press/bride_choice.jpg" /></a></td>
      <td><a href="http://www.weddingwire.com/reviews/sissi-chan-new-york/c50063ce785a6334.html"><img src="images/press/wedding_wire_2012.jpg" /></a></td>
    </tr>
    <tr>
      <td><a href="http://nymag.com/urr/listings/beauty/sissi-chan/?sort=recent"><img src="images/press/new_york_mag.png" /></a></td>
      <td><a href="http://bklynbrideonline.com/?x=0&y=0&s=sissi+chan"><img src="images/press/brooklyn_bride.png" /></a></td>
      <td><a href="http://www.stylemepretty.com/?s=sissi+chan&x=0&y=0"><img src="images/press/style_me_pretty.png" /></a></td>
    </tr>
    <tr>
      <td><a href="http://www.elizabethannedesigns.com/blog/?s=%22sissi+chan%22"><img src="images/press/elizabeth_anne_designs.png" /></a></td>
      <td><a href="http://mercinewyork.blogspot.com/search?q=%22sissi+chan%22&x=0&y=0"><img src="images/press/merci.png" /></a></td>
      <td><a href="http://www.intimateweddings.com/blog/real-weddings-elysia-kris-tribeca-apartment-wedding/"><img src="images/press/intimate_weddings.png" /></a></td>
    </tr>
  </table>
</div>
