<div class='main-photo'>
  <a href='/photos/wedding'><img src='/images/photos/weddingmainphoto.jpg'></a>
</div>
<div class='main-photo'>
  <a href='/photos/glamor'><img src='/images/photos/glamormainphoto.jpg'></a>
</div>
