<div class='alert-info well info'>
NOTE: 
Any updates can be viewed on the left before saving. Once saved, changes will automatically be reflected on the site
</div>
<%= render :partial => @partial %>
