<div class='about-container'>
  <div class='about-image'></div>
  <div class='about-content'>
    <div class='about-text'>
    At a very early age, I was inspired by the arts and have been obsessed with making things with my hands ever since. I have always loved to paint, draw, and craft. I grew up in New York City and couldn't help but become fascinated with fashion and beauty as well. I started to play around with my own hair and makeup and it became an important part of my personal style and how I choose to express myself to the world. After years of career hunting and soul searching, I continued to be passionate about hair and makeup. I would style my friends and their friends and more friends of friends for events and weddings. As I got busier and busier it finally dawned on me that this is what I was meant to do. I graduated with a Bachelor of Arts degree in Fine Arts, then went on to graduate from the New York International Beauty School and became a New York State licensed cosmetologist. I have worked with a wide range of clients and always aim to achieve their most glamorous side while maintaining an elegant look. It is a tremendous honor to play a role in one of the most important days of a woman’s life and the joy I feel making each bride feel their most beautiful and happy at the start of their special day is immeasurable. I am thankful for every bride who has let me into their lives, allowing me to continue this amazing adventure and career that found me.
    </div>
    <div class='signature'><img src='/images/about/signature.png' /></div>
  </div>
</div>
