<div class='about-container'>
  <div class='about-image'></div>
  <div class='about-content'>
    <div class='about-text'>
      <%= raw(@about_content) %>
    </div>
    <div class='signature'><img src='/images/about/signature.png' /></div>
  </div>
</div>
