<div class='contact-container'>
  <div class='contact-image'></div>
  <div class='contact-form'>
    <div class='contact-info'>
      <%= render :partial => 'away_notice' if @is_away %>
      <ul>
        <li>SISSI CHAN</li>
        <li>(917) 518-6846</li>
        <li>
          <a href='mailto:sissichan@gmail.com'><img src='/images/contact/email-img.jpg'/></a>
          <span>sissichan@gmail.com</span>
        </li>
      </ul>
    </div>
</div>
