<div class='contact-container'>
  <div class='contact-image'></div>
  <div class='contact-form'>
    <div class='contact-info'>
      <ul>
        <li>SISSI CHAN</li>
        <li>Ph:(917) 518-6848</li>
        <li>
          <img src='/images/contact/email-img.jpg'/>
          <span>E-mail Address: sissichan@gmail.com</span>
        </li>
      </ul>
    </div>
    <div class='form-container'>
      <div class='contact-response' id='contact-response'></div>
      <table>
        <tr> 
          <td class='form-labels'>Name:</td>
          <td><input type='text' class='contact-form-input' id='name' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>Phone Number:</td>
          <td><input type='text' class='contact-form-input' id='phone' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>E-mail Address:</td>
          <td><input type='text' class='contact-form-input' id='email' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>Date of Event:</td>
          <td><input type='text' class='event-date' id='eventDate' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>Subject:</td>
          <td><input type='text' class='contact-form-input' id='subject' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>Message:</td>
          <td><textarea class='contact-form-input' rows="10" id='message'></textarea></td>
        </tr>
        <tr> 
          <td colspan=2>
            <button id='form-submit' >Submit</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script>
$(function() {
		$( "#eventDate" ).datepicker({ 
      showOn: "button",
      buttonImage: "/images/jquery-ui/calendar.gif",
      buttonImageOnly: true
    });
	});

$(function() {
  $('#form-submit')
    .hover(function() {
        $(this).css('cursor', 'pointer');
      }, function() {
        $(this).css('cursor', 'normal');
      }
    )
    .click(function() {
      var respDiv = $('#contact-response');
      var name = $('#name').val();
      var phone = $('#phone').val();
      var email = $('#email').val();
      var eventdate = $('#eventDate').val();
      var subject = $('#subject').val();
      var message = $('#message').val();
      var err = [];

      if ($.trim(name) == "") {
        err.push("name");
      }

      if ($.trim(phone) == "") {
        err.push("phone");
      }

      if ($.trim(email) == "") {
        err.push("email");
      }

      if ($.trim(eventdate) == "") {
        err.push("event date");
      }

      if ($.trim(subject) == "") {
        err.push("subject");
      }

      if ($.trim(message) == "") {
        err.push("message");
      }

      if (err.length > 0) {
        respDiv
          .css('color', 'red')
          .html('The following fields cannot be blank: <br/>' + err.join(', '));
        return;
      }

      $.ajax({
        url: '/contact/submit',
        data: {'name': name,
               'phone': phone,
               'email': email,
               'event_date': eventdate,
               'subject': subject,
               'message': message}
        })
        .done(function(data) {
          if (data == 'Ok') {
            respDiv
             .css('color', 'black')
             .html('Thank you for your interest in my services. You should be hearing from me <br/>shortly.')
          } else {
            respDiv
             .css('color', 'red')
             .html('Sorry, there is an error with our system. <br/>Please try again later or you can directly email me at sissichan@gmail.com.')
          }
        });
    })
});
</script>
