<div class='contact-container'>
  <div class='contact-image'></div>
  <div class='contact-form'>
    <div class='contact-info'>
      <ul>
        <li>SISSI CHAN</li>
        <li>Ph:(917) 518-6848</li>
        <li>
          <img src='/images/contact/email-img.jpg'/>
          <span>E-mail Address: sissichan@gmail.com</span>
        </li>
      </ul>
    </div>
    <div class='form-container'>
      <table>
        <tr> 
          <td class='form-labels'>Name:</td>
          <td><input type='text' class='contact-form-input' id='name' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>Phone Number:</td>
          <td><input type='text' class='contact-form-input' id='phone' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>E-mail Address:</td>
          <td><input type='text' class='contact-form-input' id='email' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>Date of Event:</td>
          <td><input type='text' class='event-date' id='eventDate' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>Subject:</td>
          <td><input type='text' class='contact-form-input' id='subject' /></td>
        </tr>
        <tr> 
          <td class='form-labels'>Message:</td>
          <td><textarea class='contact-form-input' rows="10" id='message'></textarea></td>
        </tr>
        <tr> 
          <td colspan=2>
            <button id='form-submit' >Submit</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script>
$(function() {
		$( "#eventDate" ).datepicker({ 
      showOn: "button",
      buttonImage: "/images/jquery-ui/calendar.gif",
      buttonImageOnly: true
    });
	});

$(function() {
  $('#form-submit')
    .hover(function() {
        $(this).css('cursor', 'pointer');
      }, function() {
        $(this).css('cursor', 'normal');
      }
    )
    .click(function() {
      $.ajax({
        url: '/contact/submit',
        data: {'name': $('#name').val(),
               'phone': $('#phone').val(),
               'email': $('#email').val(),
               'event_date': $('#eventDate').val(),
               'subject': $('#subject').val(),
               'message': $('#message').val()}
        })
        .done(function(data) {
        });
    })
});
</script>
