<div class='reviews-container'>
  <div class='reviews-image'>
  </div>
  <div class='reviews-content'>
    <% @reviews.each do |r| -%>
      <div class="review-block">
         <%= r.message %>
        <pre>- <%= r.name %></pre>
      </div>
    <% end -%>
  </div>
</div>
