<div class='about_container well'>
  <form id='about_form' method='POST' action='/admin/about'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
    <span class='title'>About Content</span>
    <br/>
    <textarea name='about_content' rows='10'><%= @about_content %></textarea>
    <br/>
    <span id='save_content' class='button'>Save</span>
  </form>
</div>
<script>
  $(document).ready(function() {
    $('#save_content').click(function() {$('#about_form').submit()})
  })
</script>
