<div class='booking-policy-container'>
  <img src='/images/rates/bookingpolicymainphoto.jpg'/>
  <div class='booking-policy-text'>
    <%= raw(@policy_content) %>
  </div>
  <div class='booking-policy-links'>
    <a href='/rates'>BACK TO RATES</a>
    <span class='divider'>|</span>
    <a href='/faq'>FAQ'S</a>
  </div>
</div>
