<div class='faq-container'>
  <div class='faq-main-photo'>
    <img src='/images/rates/faqmainphoto.jpg' />
  </div>
  <div class='faq-text'>
    <ul>
      <% @faqs.each_with_index {|val, index| %>
        <li class='question'>
          <%= "#{index + 1}) #{val.question}" %>
        </li>
        <li class='answer'>
          <%= "#{val.answer}" %>
        </li>
      <% } -%>
    </ul>
  </div>
</div>
