<div class='rates-container'>
  <div class='rates-image'>
  </div>
  <div class='rates-content'>
    <div class='rates-top'>
      <div class='rates-top-left'>
        <table>
          <thead>
            <tr>
              <td colspan=2>
                BRIDE 
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hair & Make-Up</td>
              <td class='right-align'>$250</td>
            </tr>
            <tr>
              <td>Hair Only</td>
              <td class='right-align'>$150</td>
            </tr>
            <tr>
              <td>Make-Up Only</td>
              <td class='right-align'>$150</td>
            </tr>
            <tr>
              <td>Trial</td>
              <td class='right-align'>$125</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='rates-top-right'>
        <table>
          <thead>
            <tr>
              <td colspan=2>
                BRIDESMAIDS/OTHERS:
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hair & Make-Up</td>
              <td class='right-align'>$200</td>
            </tr>
            <tr>
              <td>Hair Only</td>
              <td class='right-align'>$110</td>
            </tr>
            <tr>
              <td>Make-Up Only</td>
              <td class='right-align'>$110</td>
            </tr>
            <tr>
              <td>Trial</td>
              <td class='right-align'>$100</td>
            </tr>
            <tr>
              <td>Flower Girl</td>
              <td class='right-align'>$40</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='clear'></div>
    <div class='rates-mid'>
      <table>
        <thead>
          <tr>
            <td colspan=2>
              OPTIONAL ADD-ON SERVICES:
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hair Extensions</td>
            <td class='right-align'>$100 per person / Trial + $50</td>
          </tr>
          <tr>
            <td>Airbrush Make-Up</td>
            <td class='right-align'>$50 per person / Trial + $25</td>
          </tr>
        </tbody>
      </table>
      <br/><br/>
      <table>
        <tbody>
          <tr>
            <td>Early Morning Fee (meeting before 7am)</td>
            <td class='right-align'>$100</td>
          </tr>
          <tr>
            <td>Travel Fee (meeting outside of the N.Y.C area)</td>
            <td class='right-align'>starting at $100</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='rates-bottom'>
      <ul>
        <li class='rates-bottom-left-link'><a href='#'>BOOKING POLICY</a></li>
        <li class='rates-bottom-right-link'><a href='#'>FREQUENTLY ASKED QUESTIONS</a></li>
      </ul>
    </div>
  </div>
</div>
