<!DOCTYPE html>
<html>
<head>
  <title>Sissichan2012</title>
  <%= csrf_meta_tag %>
</head>
<body>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
