<div class='alert-info well info'>
DIRECTIONS: 
  <ul>
    <li>To add a new press release, click the 'Choose File' button below, put in the url and click on the 'Add' button .
    </li>
    <li>The images on the left represents the press shown on the site.  To replace a press release, you must first drag and drop the one you wish to remove to right hand side bucket and then drag and drop the press release you want to replace into the wmpty slot.</li>
    <li>To edit any press release url, double click the press release image.</li>
    <li>Changes won't be permanent until you hit the red 'Save' button on the bottom right hand side of the screen</li>
  </ul>
</div>
<%= render :partial => @partial %>
